In [2]:
import pandas as pd

In [14]:
df = pd.DataFrame({'q2':[{1,2,3},2,3,4,5,4], 'fita':[1,2,3,4,5,4], 'fi':[1,2,3,4,5,4], 'C_9':[10,223,3124,4445,545,434], 'C_10':[10,223,3124,4445,545,434]})

In [15]:
df

          q2  fita  fi   C_9  C_10
0  {1, 2, 3}     1   1    10    10
1          2     2   2   223   223
2          3     3   3  3124  3124
3          4     4   4  4445  4445
4          5     5   5   545   545
5          4     4   4   434   434