In [57]:
#  %%
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPRegressor 
from sklearn.neural_network import MLPClassifier
from sklearn import preprocessing
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
# %%

In [47]:
data_points0 = pd.read_csv('data/toy_data_c9_-0.46_c10_0.46_2021_10_29_13.csv', index_col=0)
data_points46 = pd.read_csv('data/toy_data_c9_0_c10_0_2021_10_29_11.csv', index_col=0)

data_points0['C9'] = [0] * data_points0.shape[0]
data_points46['C9'] = [-0.46] * data_points46.shape[0]
# data_points0['C10'] = [0] * data_points0.shape[0]
# data_points03['C10'] = [0.3] * data_points03.shape[0]

merged = pd.concat([data_points0, data_points46]).reset_index(drop=True)

# x = data_points.drop(columns=['J_comp'])
# y = data_points['J_comp']

# x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25)

In [60]:
merged

              q2         k         l         p    J_comp    C9
0      14.498198  2.729491  0.605314  0.279665  0.688015  0.00
1      11.014711  1.692780  1.285026 -1.370453  0.530656  0.00
2       7.797051  0.921580  2.590832 -2.612348  0.129048  0.00
3      18.274971  2.735215  1.300263 -0.440819  0.790924  0.00
4      10.757946  0.454165  1.908450  1.632341  0.712921  0.00
...          ...       ...       ...       ...       ...   ...
26785  10.465174  0.129090  1.133012 -2.955900  0.917911 -0.46
26786  15.473061  1.219828  0.322072 -1.792927  1.059041 -0.46
26787  17.694974  1.902007  0.476926 -1.129403  1.039283 -0.46
26788  13.123620  2.528305  1.605046  2.877888  0.265772 -0.46
26789   6.226326  2.489922  0.794853  2.516473  0.174111 -0.46

[26790 rows x 6 columns]

In [63]:
scaler = StandardScaler()

x = merged.drop(columns=['C9'])
y = merged[['C9']]

x = scaler.fit_transform(x)

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,shuffle=True)

y_train = y_train.replace({-0.46:0, 0:1, 0.46:2})

In [69]:

# model = DecisionTreeRegressor()
# model = DecisionTreeClassifier()
# model = LinearRegression()
model = MLPClassifier()
model.fit(x_train, y_train.values)
predictions = model.predict(x_test)

/Users/jakubpazio/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [70]:
accuracy_score(predictions, y_test.replace({-0.46:0, 0:1, 0.46:2}))

0.4985069055617768